ion-list{
    background: #fff;
    ion-item{
        --background: #fff;
        font-size: 18px;
        --color: #333448;
    }
    .close-btn{
       --background: #B84D9B;
       --color: #fff;
    }
}