<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" mode="ios" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Description</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="leasign-segment">

    <!-- Description  -->
    <div class="leasing-details-wrapper">
      <div class="details-inner">
        <ion-grid>
          <ion-row>
            <ion-col size-xl="5" size-lg="5" size-md="5" size-sm="12" size-xs="12"  class="ion-padding">
              <div class="description-left-wrapper">
                <img src="../../assets/img/the-youth-hostel-meghalaya-sectt-shillong-hostels-27itvwbw5d.png" alt="">
                <div class="price">
                  <h5>R1200</h5>
                </div>
                <div class="type">
                  <h6>Standard Unit No 13(First Floor)</h6>
                </div>
                <div class="address">
                  <p>Kalfontein, Tambisa Phindielie Nkosi</p>
                </div>
                <div class="rating">
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
                <div class="owner-details">
                  <h4>Owner Details</h4>
                  <h5>Christofer Themba</h5>
                  <h5><span>Contact No: </span>+27 8515 1411 020</h5>
                  <h5><span>Email: </span>christhemba@gmail.com</h5>
                </div>
                <div class="bottom-address">
                  <h4>Address</h4>
                  <p>82 Morwa Avenue,
                    MAMALODI EAST EXT10, Memalodi
                    Gauteng</p>
                </div>
              </div>
            </ion-col>
            <ion-col  class="ion-padding">
              <div class="description-right-wrapper">
                <div class="description-right-top">
                  <h5>Description</h5>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus</p>
                </div>
                <div class="features">
                  <h5>Features</h5>              
                    <ion-row>
                      <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                       <div class="features-inner">
                         <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                         <h6>Secure Yard</h6>
                       </div>
                       <div class="features-inner">
                         <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                         <h6>Prepaid Meter</h6>
                       </div>
                       <div class="features-inner">
                         <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                         <h6>Ceiling</h6>
                       </div>
                       <div class="features-inner">
                         <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                         <h6>Water in Room</h6>
                       </div>
                       <div class="features-inner">
                         <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                         <h6>Burglar Bars</h6>
                       </div>
                       <div class="features-inner">
                         <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                         <h6>Washing Line</h6>
                       </div>
                      </ion-col>
                      <ion-col>
                       <div class="features-inner">
                         <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                         <h6>Second Story Unit</h6>
                       </div>
                       <div class="features-inner">
                         <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                         <h6>Toilet in Room</h6>
                       </div>
                       <div class="features-inner">
                         <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                         <h6>Tiles</h6>
                       </div>
                       <div class="features-inner">
                         <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                         <h6>Shower in Room</h6>
                       </div>
                       <div class="features-inner">
                         <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                         <h6>Safety Gate</h6>
                       </div>
                       <div class="features-inner">
                         <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                         <h6>Satellite Dish</h6>
                       </div>
                      </ion-col>
                    </ion-row>
                </div>
                <div class="house-rules">
                  <h5>House Rules</h5>
                 <ion-row>
                   <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="12">
                    <div class="rules-inner">
                      <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                      <h6>No Children</h6>
                    </div>
                    <div class="rules-inner">
                      <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                      <h6>No Loud Music</h6>
                    </div>
                    <div class="rules-inner">
                      <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                      <h6>No Businessess</h6>
                    </div>
                    <div class="rules-inner">
                      <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                      <h6>No Parties</h6>
                    </div>
                    
                   </ion-col>
                   <ion-col>
                    <div class="rules-inner">
                      <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                      <h6>No Children under 3yrs</h6>
                    </div>
                    <div class="rules-inner">
                      <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                      <h6>No Pets</h6>
                    </div>
                    <div class="rules-inner">
                      <img src="../../assets/img/Icon feather-check-circle.svg" alt="">
                      <h6>No Overnight Visitors</h6>
                    </div>
                   
                   </ion-col>
                 </ion-row>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="border"></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="bottom">
                <p>If you want to find out more or view this listing, tap the
                  request viewing button below.</p>
                  <span>Request Viewing</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <!-- Description  -->
  </div>



</ion-content>
