ion-header{
  z-index: 999;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    ion-toolbar{
      --background: #EFEFEF;
      --color: #333448;
      --padding-top: 50px;
      --padding-bottom: 20px;
  
      @media(max-width: 1440px){
        --padding-top: 20px;
        --padding-bottom: 10px;
      }
  
      ion-buttons{
  
        ion-back-button{
          --color: #333448;
          --background-hover: transparent;
          font-family: Mregular;
          font-size: 25px;
          font-weight: 400;
          @media(max-width: 1440px){
            font-size: 20px;
          }
          @media(max-width: 768px){
            font-size: 18px;
          }
          @media(max-width: 560px){
            font-size: 16px;
          }
        }
      }
      ion-title{
        --color: #333448;
        font-family: Mregular;
        font-size: 25px;
        font-weight: 400;
        @media(max-width: 1440px){
          font-size: 20px;
        }
        @media(max-width: 768px){
          font-size: 20px;
        }
        @media(max-width: 560px){
          font-size: 18px;
        }
      }
    }
  }
  
  ion-content {
   --background: #B84D9B;
   .leasign-segment{
     max-width: 1280px;
     margin: 0 auto;
    .segment-holder{
      margin: 20px auto 0 auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media(max-width: 1440px){
        max-width: 1058px;
      }
      @media(max-width: 1100px){
        max-width: 960px;
       }
       @media(max-width: 991px){
        max-width: 900px;
      }
      @media(max-width: 930px){
        max-width: 800px;
      }
      @media(max-width: 850px){
        max-width: 720px;
      }
      @media(max-width: 730px){
        max-width: 600px;
      }
      @media(max-width: 610px){
        max-width: 540px;
      }
      @media(max-width: 560px){
        max-width: 480px;
      }
      @media(max-width: 490px){
        max-width: 400px;
      }
      @media(max-width: 410px){
        max-width: 368px;
      }
      .segment-btn-container{
        width: 40%;
        @media(max-width: 991px){
          display: none;
        }
        ion-segment{
          .margin{
            margin-right: 20px;
          }
          ion-segment-button{
            height: 56px;
            --border-radius: 16px;
            --background-focused: #2136F1;
            --background-checked: #2136F1;
            --color-checked: #fff;
            --border-color: transparent;
            --indicator-color: transparent;
            max-width: 188px;
            --background: #fff;
            --color: #333448;
            font-family: Mlight;
            font-weight: 300;
            text-transform: capitalize;
            font-size: 25px;
            @media(max-width: 1440px){
              font-size: 20px;
            }
          }
        }
      }
      .searchbar-container{
        width: 45%;
        @media(max-width: 991px){
          width: 80%;
          max-height: 48px;
        }
        ion-toolbar{
          --background: #C773B0;
         
          @media(max-width: 991px){
            max-height: 48px;
          }
          border-radius: 16px;
          ion-searchbar{
            --background: #C773B0;
            --box-shadow: none;
            --color: #fff;
            --icon-color: #E7C3DD;
            --placeholder-color: #E7C3DD;
            text-align: left;
          }
        }
      }

      .filter-button-container{
        width: 10%;
        @media(max-width: 991px){
          width: 15%;
        }
        max-height: 56px;
        border-radius: 16px;
        @media(max-width: 991px){
          max-height: 48px;
        }
        ion-button{
          width: 100%;
          height: 100%;
          margin: 0;
          --border-radius: 16px;
          --background: #fff;
          --box-shadow: none;
          --ripple-color: #2136F1;
          ion-icon{
            color: #BBBBBB;
            font-size: 30px;
            &:hover{
              color: #2136F1;
            }
          }
        }
      }

     
    }
    .mobile-segment{
      display: flex;
      display: none;
      @media(max-width: 991px){
        display: block;
      }
      margin: 20px auto 0 auto;
      width: 100%;
      @media(max-width: 1440px){
        max-width: 1058px;
      }
      @media(max-width: 1100px){
        max-width: 960px;
       }
       @media(max-width: 991px){
        max-width: 900px;
      }
      @media(max-width: 930px){
        max-width: 800px;
      }
      @media(max-width: 850px){
        max-width: 720px;
      }
      @media(max-width: 730px){
        max-width: 600px;
      }
      @media(max-width: 610px){
        max-width: 540px;
      }
      @media(max-width: 560px){
        max-width: 480px;
      }
      @media(max-width: 490px){
        max-width: 400px;
      }
      @media(max-width: 410px){
        max-width: 368px;
      }
      .segment-btn-container{
        ion-segment{
          justify-content: left;
          .margin{
            margin-right: 20px;
            @media(max-width: 767px){
              margin-right: 10px;
            }
          }
          ion-segment-button{
            height: 56px;
            --border-radius: 16px;
            --background-focused: #2136F1;
            --background-checked: #2136F1;
            --color-checked: #fff;
            --border-color: transparent;
            --indicator-color: transparent;
            max-width: 188px;
            --background: #fff;
            --color: #333448;
            font-family: Mlight;
            font-weight: 300;
            text-transform: capitalize;
            font-size: 25px;
            @media(max-width: 1440px){
              font-size: 20px;
            }
            @media(max-width: 991px){
              font-size: 18px;
              height: 48px;
            }
          }
        }
      }
    }
  
    .leasing-details-wrapper{
      max-width: 1280px;
      margin: 0 auto;
  
      @media(max-width: 1440px){
        max-width: 1058px;
        margin: 0 auto;
      }
      @media(max-width: 1100px){
        max-width: 960px;
       }
       @media(max-width: 991px){
        max-width: 900px;
      }
      @media(max-width: 930px){
        max-width: 800px;
      }
      @media(max-width: 850px){
        max-width: 720px;
      }
      @media(max-width: 730px){
        max-width: 600px;
      }
      @media(max-width: 610px){
        max-width: 540px;
      }
      @media(max-width: 560px){
        max-width: 480px;
      }
      @media(max-width: 490px){
        max-width: 400px;
      }
      @media(max-width: 410px){
        max-width: 368px;
      }
      .details-inner{
        margin-top: 10px;
        width: 100%;
        min-height: 450px;
        background: #fff;
        border-radius: 23px;
        position: relative;
        -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
        margin-bottom: 60px;
        @media(max-width: 1024px){
          min-height: 350px;
        }
        @media(max-width: 991px){
          min-height: 300px;
        }
         @media(min-width: 768px){
          margin-bottom: 80px;
         }
  
        .popover-btn-container{
         float: right;
         padding-top: 20px;
         padding-right: 10px;
         ion-button{
           ion-icon{
             color: #BBBBBB;
             font-size: 24px;
           }
         }
        }
  
        .find-place-and-noleasing{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          h3{
            color: #333448;
            font-family: Mlight;
            font-weight: 300;
            font-size: 25px;
            opacity: .33;
            user-select: none;
            margin-bottom: 15px;
            margin-top: 0;
  
            @media(max-width: 1440px){
              font-size: 18px;
            }
          }
  
          ion-button{
            --background: #B84D9B;
            text-transform: none;
            font-size: 25px;
            font-family: Mlight;
            font-weight: 300;
            min-width: 233px;
            --color: #fff;
            // --padding-top: 25px;
            // --padding-bottom: 25px;
            height: 60px;
            --border-radius: 11px;
            @media(max-width: 1440px){
              font-size: 18px;
              height: 50px;
            }
          }
        }
      }
    }
  
  
    .bottom-menu-wrapper{
      max-width: 1280px;
      margin: 0 auto;
      position: fixed;
      left: 50%;
      transform: translate(-50%);
      -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
      -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
      box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
      // background-color: #fff;
      bottom: 0;
      @media(max-width: 1440px){
        max-width: 1058px;
      }
  
      @media(max-width: 1100px){
        max-width: 960px;
      }
      @media(max-width: 991px){
        max-width: 900px;
      }
      @media(max-width: 930px){
        max-width: 800px;
      }
      @media(max-width: 850px){
        max-width: 720px;
      }
      @media(max-width: 730px){
        max-width: 600px;
      }
      @media(max-width: 610px){
        max-width: 540px;
      }
      @media(max-width: 560px){
        max-width: 480px;
      }
      @media(max-width: 490px){
        max-width: 400px;
      }
      @media(max-width: 410px){
        max-width: 368px;
      }
      display: flex;
      flex-direction: row;
    
      .mybutton-wrapper{
        min-width: 320px;
        border-right: 1px solid rgba(112,112,112,0.49);
        &:last-child{
          border-right: 0px solid transparent;
        }
        @media(max-width: 1440px){
        min-width: 264px;
        }
        @media(max-width: 1100px){
        min-width: 240px;
        }
        @media(max-width: 991px){
          min-width: 225px;
        }
        @media(max-width: 930px){
          min-width: 200px;
        }
        @media(max-width: 850px){
          min-width: 180px;
        }
        @media(max-width: 730px){
          min-width: 150px;
        }
        @media(max-width: 610px){
          min-width: 135px;
        }
        @media(max-width: 560px){
          min-width: 120px;
        }
        @media(max-width: 490px){
          min-width: 100px;
        }
        @media(max-width: 410px){
          min-width: 92px;
        }
        
        ion-button{
          margin: 0;
          width: 100%;
          height: 80px;
          --border-radius: 0;
          --border-color: #707070;
          --border-style: 1px solid #707070;
          font-family: Mlight;
          font-weight: 300;
          font-size: 25px;
          --background: #fff;
          --color: #333448;
          text-transform: capitalize;
  
          @media(max-width: 1440px){
            height: 60px;
            font-size: 20px;
          }
          @media(max-width: 991px){
            height: 50px;
          }
          @media(max-width: 768px){
            font-size: 18px;
            height: 40px;
          }
          @media(max-width: 730px){
            font-size: 16px;
          }
          @media(max-width: 610px){
            font-size: 15px;
          }
        
          @media(max-width: 560px){
            --padding-start: 0;
            --padding-end: 0;
          }
          @media(max-width: 410px){
            font-size: 12px;
          }
  
          .rotate{
            transform: rotate(180deg);
          }
  
          ion-icon{
            @media(max-width: 768px){
              font-size: 18px;
            }
            @media(max-width: 490px){
              font-size: 14px;
            }
          }
        }
        .bottom-active{
          --color: #B84D9B;
        }
        .first-btn{
          --border-radius: 20px 0 0 0 !important;
        }
        .last-btn{
          --border-radius: 0 20px 0 0 !important;
        }
      }
    }
   }
  
  
  }