<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" mode="ios" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Personal Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="leasign-segment">

    <!-- Personal Information  -->
    <div class="leasing-details-wrapper">
      <div class="details-inner">
        <div class="personal-information-wrapper">
          <div class="form">
            <div class="input-item">
              <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
            </div>
            <div class="input-item">
              <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
            </div>
            <div class="input-item">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email"></ion-input>
              </ion-item>
            </div>
            <div class="input-item">
              <ion-item>
                <ion-label position="floating">Mobile Number</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
            </div>
            <div class="input-item myselect-container">
                        
              <ion-label>Id Number Type</ion-label>
              <ion-select multiple="false" placeholder="Select One">
                <ion-select-option value="national">RSA National ID</ion-select-option>
                <ion-select-option value="national2">RSA National ID</ion-select-option>
              </ion-select>
              <ion-icon name="chevron-down-outline" class="down-icon" slot="end"></ion-icon>
            </div>
            <div class="input-item">
              <ion-item>
                <ion-label position="floating">National Identity</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
            </div>
            <div class="note-text">
              <p>A South African National ID only required if you are a land owner with listed rentals.</p>
            </div>
            <div class="btn-holder">
              <ion-button>
                Save
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Personal Information  -->
  </div>



</ion-content>
