

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row >
      <ion-col size="12">
        <div class="rent-room-container">
          <ion-card _ngcontent-agu-c1="" class="ion-text-center md hydrated" (click)="RedirectToSearchPage()">
            <ion-icon _ngcontent-agu-c1="" src="assets/img/rent-key.svg"  role="img" class="md hydrated">
            </ion-icon>
            <ion-card-header _ngcontent-agu-c1="" class="ion-inherit-color md hydrated">
              <ion-card-title _ngcontent-agu-c1="" role="heading" aria-level="2" class="ion-inherit-color md hydrated">Rent a Room</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
